<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780858448330-r8lr36802q9brh03tm85e93a24496pvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780858448330-r8lr36802q9brh03tm85e93a24496pvp</string>
	<key>API_KEY</key>
	<string>AIzaSyAVEQAHs3iZ4rEQRx40pecgFPADCQHtKPA</string>
	<key>GCM_SENDER_ID</key>
	<string>780858448330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getxLevel3Login.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>login-firebase-c7bd4</string>
	<key>STORAGE_BUCKET</key>
	<string>login-firebase-c7bd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780858448330:ios:cd5402321421c1bda59733</string>
</dict>
</plist>